@model ds_mvc_asp.Models.Usuario

@{
    ViewBag.Title = "Usuario";
}


<style>
    /*body {
        overflow-y: hidden;
    }*/

    #cadastro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    label {
        display:flex;
        align-content: center;
    }

    #cadastro form {
        /*margin:20px 350px;*/
    }
    h2 {
        font-family:Bangers;
    }

    #buttons {
        margin: 0 auto;
        display: flex;
    }

    #voltar{
        display:flex;
    }

        #voltar a {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

    #voltar, #cadastrar {
        margin: 0 auto;
    }

</style>




<div id="cadastro">
    <h2>Cadastro</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
  <br />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.NomeUsuario, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.NomeUsuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Idade, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.Idade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Idade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Confsenha, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-15">
                    @Html.EditorFor(model => model.Confsenha, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Confsenha, "", new { @class = "text-danger" })
                </div>
            </div>
                
            <div class="form-group" id="buttons">
                <div class="col-md-offset-2 col-md-10" id="cadastrar">
                    <input type="submit" value="Cadastrar" class="btn btn-default" />
                </div>
                <div class="col-md-offset-2 col-md-10" id="voltar">
                    @Html.ActionLink("Voltar", "Index")
                </div>
            </div>

        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>